.chat-font {
    color: #ffffff;
}


#recipient {
    color: lightblue;
}

.allChat{
    background-color: black;

}

#chatHistory {
    background-color: black;
    display: flex;
    flex-direction: column-reverse; 
    height: 235px;
    overflow-y: scroll;
    scrollbar-width: auto;
    scrollbar-color: rebeccapurple yellow; 
}

.sent {
    color: #ffffff;
}

.received {
    color: green;
}

#message-content {
    display: flex;
    flex-wrap: wrap;
}

#body {
    flex: 2; /* "body" takes up two-thirds of the available space */
    overflow: hidden;
    text-overflow: ellipsis;
}

#time {
    flex: 1; /* "time" takes up one-third of the available space */
    flex-shrink: 0;
    margin-left: 8px;
    font-size: 0.6em;
}

