.userEntry {
  display: flex;
  align-items: center;
  /* Vertically center items */
  margin-top: 10px;
  /* Adjust the margin as needed for spacing between userEntries */
}

.usernameLink {
  display: inline-block;
  font-weight: bold;
  cursor: pointer;

}

.statusIndicator {
  display: inline-block;
  vertical-align: middle;
  align-items: center;
  width: 8px;
  height: 8px;
  background-color: #4CAF50;
  /* Green color, adjust as needed */
  border-radius: 50%;
  margin-left: 6px;
  /* Adjust the margin as needed */
}

.chat-font {
  color: #ffffff;
}

.allChat {
  background-color: black;
}

#recipientHeader {
  color: lightblue;
  font-size: 25px;
  display: flex;
}

#chatHistory {
  background-color: black;
  display: flex;
  flex-direction: column-reverse;
  height: 535px;
  overflow-y: scroll;
  scrollbar-width: auto;
  scrollbar-color: rebeccapurple yellow;
}

.sent {
  background-color: green;
  color: #ffffff;
}

.received{
    color: green;
}

#recipient{
    color: lightblue;
}