.userEntry {
    display: flex;
    align-items: center; /* Vertically center items */
    margin-top: 10px; /* Adjust the margin as needed for spacing between userEntries */
}

.usernameLink {
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
  
}

.statusIndicator {
    display: inline-block;
    vertical-align: middle;
    align-items: center;
    width: 8px;
    height: 8px;
    background-color: #4CAF50; /* Green color, adjust as needed */
    border-radius: 50%;
    margin-left: 6px; /* Adjust the margin as needed */
}

.chat-font {
    color: #ffffff;
}



.allChat {
    background-color: black;
}

#recipientHeader {
    color: lightblue;
    font-size: 25px;
}

#chatHistory {
    background-color: black;
    display: flex;
    flex-direction: column-reverse;
    height: 235px;
    overflow-y: scroll;
    scrollbar-width: auto;
    scrollbar-color: rebeccapurple yellow;
}

.sent {
    color: #ffffff;
}

.received {
    color: green;
}

#message-content {
    display: flex;
    flex-wrap: wrap;
}

#body {
    flex: 2;
    /* "body" takes up two-thirds of the available space */
    overflow: hidden;
    text-overflow: ellipsis;
}

#time {
    flex: 1;
    /* "time" takes up one-third of the available space */
    flex-shrink: 0;
    margin-left: 8px;
    font-size: 0.6em;
}

#notification {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    /* Green background color */
    color: white;
    /* White text color */
    padding: 15px;
    /* Padding */
    border-radius: 10px;
    /* Rounded corners */
    opacity: 0;
    /* Initially invisible */

    /* Animation */
    animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {

    0%,
    100% {
        opacity: 0;
    }

    10%,
    90% {
        opacity: 1;
    }
}