.post-form {
	width: 100%;
	background-color: #5995fd;
	border: none;
	outline: none;
	border-radius: 49px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	margin: 10px 0;
	transition: 0.5s;
}

.post {
	width: 100%;
	background-color: #8bb3f8;
	border: none;
	outline: none;
	border-radius: 49px;
	/* color: #fff; */
	text-transform: uppercase;
	font-weight: 600;
	margin: 10px;
	transition: 0.5s;
}

