.postContainer {
	width: 100%;
	background-color: #8bb3f8;
	border: none;
	outline: none;
	border-radius: 49px;
	/* color: #fff; */
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: 10px;
	transition: 0.5s;
}

.postContent {
	border-top-right-radius: 49px;
	border-top-left-radius: 49px;
	width: 100%;
	background-color: #b5ccf3;
	font-weight: 600;
	margin: auto;
}

.postName{
	padding: 20px;
	text-transform: capitalize;
}

.postBody{
	padding: 20px;
}

.postCategories{
	padding: 20px;
}

.reaction-button{
	margin-left: 20px;
	margin-bottom: 20px;
	padding: 2px;
}

.commentContainer {
	width: 100%;
	background-color: #b5ccf3;
	border: none;
	outline: none;
	border-radius: 49px;
	font-weight: 600;
	margin: 10px;
}



