<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/static/css/A_style.css" />
    <title>Sign in & Sign up Form</title>
  </head>
  <body>
    <div id="container" class="container"></div>
      

    <script src="../static/js/A_app.js" type="module" defer></script>
    <script src="../static/js/cookie.js" type="module" ></script>
    <script src="static/js/postsToBackend.js" type="module" ></script>
  </body>
</html>
