<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Realtimeforum</title>
	</head>
	<body>
		<a href="#" id="login-form">Log in</a>
		<a href="#" id="registration-form">Register Account</a>

		<div id="container"></div>

		<script type="module" src="../static/js/login.js"></script>
		<script type="module" src="../static/js/registration.js"></script>
		<script type="module" src="../static/js/cookie.js"></script>
		<script type="module" src="../static/js/postsToHTML.js"></script>
	</body>
</html>
