<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<form id="post-form" method="POST" enctype="multipart/form-data">
			<div>
				<h1>Your Post Goes Here</h1>
				<p>Kindly fill in this form to post.</p>
				<!-- label and input for Username -->
				<!-- <label for="postbody"><b>post content</b></label>
				<input
					type="text"
					placeholder="Enter post"
					name="postbody"
					id="postbody"
					required
				/> -->
				<input class="input file-input" type="file" name="postimage" multiple />
				<!-- submit button -->
				<button type="submit" id="submit">post</button>
			</div>
		</form>
		<script src="../static/js/post.js"></script>
	</body>
</html>
